<div class="form-group row mb-3">
    <label for="formControlSelect" class="col-sm-2 col-form-label">@Label</label>
    <div class="col-sm-4">
        @if (Options == null)
        {
            <select class="form-control" disabled>
                <option>Loading...</option>
            </select>
        }
        else
        {
            <select class="form-control" id="formControlSelect" @onchange="OnSelectedChanged">
                <option disabled selected>Select a source location</option>
                @foreach (var option in Options)
                {
                    <option>@option</option>
                }
            </select>
        }
    </div>
</div>

@code {
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public IEnumerable<string>? Options { get; set; }

    [Parameter]
    public string? Selected { get; set; }

    [Parameter]
    public EventCallback<string?> SelectedChanged { get; set; }

    protected async Task OnSelectedChanged(ChangeEventArgs e)
    {
        Selected = (string?)e.Value;
        await SelectedChanged.InvokeAsync(Selected);
    }
}
