@page "/"

<PageTitle>RoutePlanner</PageTitle>

<h1>RoutePlanner</h1>

<p>
    This application is an <i>Accelerator</i> to get you started on a route-planning application.
    <br />
    It also serves as an entry point to get introduced to the <a target="_blank" href="https://source.netcompany.com/tfs/NC/DOTNET">Netcompany Foundation</a>.
</p>

<h4>Getting started</h4>
<p>
    Try the <a href="distancecalculator">Distance Calculator</a>!
    <br />
    Then look at the code and try to figure out how it all connected :)
</p>

<h5>Authentication</h5>
<p>You can try to login in the top right corner with the following credentials:</p>
<ul class="mb-4">
    <li>Username: alice</li>
    <li>Password: alice123!</li>
</ul>

<AuthorizeView>
    <span class="alert alert-success"><span class="oi oi-lock-locked" aria-hidden="true"></span> This content requires authentication. You are logged in as @context.User.Identity?.Name</span>
</AuthorizeView>