<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="ncdotnet-foundation" value="https://repo.netcompany.com/artifactory/api/nuget/v3/ncdotnet-release-nuget" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ncdotnet-foundation">
      <package pattern="Netcompany.Net.*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
