@page "/admin"
<link href="css/SearchResult.css" rel="stylesheet" />

@if (Routes != null)
{
    foreach (var route in Routes)
    {
        <div class="card mb-3 routeCard">
            <div class="card-header">
                <div class="row">
                    <!-- Locations Column -->
                    <div class="col-md-8">
                        @foreach (var location in (route.Locations ?? throw new InvalidOperationException()))
                        {
                            <div class="locationContainer">
                                <div class="locationDot"></div>
                                <span class="locationName">@location.Name</span>
                            </div>
                            if (location != route.Locations.Last())
                            {
                                <div class="dottedLine">
                                    <div class="smallDot"></div>
                                    <div class="smallDot"></div>
                                    <div class="smallDot"></div>
                                </div>
                            }
                        }
                    </div>

                </div>
                <div class="row bottomPart mt-3">
                    <div class="col-md-4">
                        Total time in transit: <br/>
                        <span class="infTxt"> @route.TravelTime </span>
                    </div>
                    <div class="col-md-4">
                        Price: <br/>
                        <span class="infTxt"> $@route.Price.ToString()  </span>
                    </div>
                    <div class="col-md-4">
                        eight: <br/>
                        <span class="infTxt"> @route.Weight.ToString() KG </span>
                        
                    </div>
                </div>
                <div class="row bottomPart mt-3">
                    <div class="col-md-4">
                        Category: <br/>
                        <span class="infTxt"> @route.Category </span>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">     
                         <!--<button class="btn btn-primary cardBtn" @onclick="(() => CancelShipping(route.Id))">Cancel shipping</button>-->
                    </div>
                    </div>
                               
                
            </div>
        </div>
    }
}