@page "/signin"
<link href="css/signin.css" rel="stylesheet" />

<style>
    .sidebar{
        visibility: hidden;
    }
</style>

<div class="signin-container">
    <div class="signin-child">
    <img src="/Images/logo.jpg" alt="Company Logo" class="logo-img"/>
    <AuthorizeView>
        <NotAuthorized>
            @if (ShowAuthError)
            {
                <div class="error text-danger m-2">Invalid login credentials</div>
            }
            <div>
                <input type="text" placeholder="Username" class="form-control" @bind-value="Username"></input>
            </div>
            <div>
                <input type="password" class="form-control" placeholder="Password" @bind-value="Password"></input>
            </div>
            <div>
                <button class="btn btn-primary" @onclick="Login">Login</button>
            </div>
        </NotAuthorized>
        <Authorized>
            <span class="m-2">Hello, @context.User.Identity?.Name!</span>
            <div>
                <button class="btn btn-primary ml-2" @onclick="Logout">Logout</button>
            </div>
        </Authorized>
    </AuthorizeView>
    </div>
</div>
